services:
  app:
    image: debetter-spring_app:latest
    platform: linux/amd64   # включи, только если образ amd64
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/debetter
      SPRING_DATASOURCE_USERNAME: debetter_user
      SPRING_DATASOURCE_PASSWORD: debetter_password
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_USERNAME: default
      SPRING_REDIS_PORT: 6379
      SPRING_REDIS_PASSWORD: 893fe9af-60e2-4ab4-952d-4a767f6670c0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:16.3-alpine3.20
    container_name: debetter-postgres
    environment:
      POSTGRES_DB: debetter
      POSTGRES_USER: debetter_user
      POSTGRES_PASSWORD: debetter_password
    # Убери публикацию 5432, если доступ с хоста не нужен
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U debetter_user -d debetter"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  redis:
    image: redis:8.0.3-alpine
    container_name: debetter-redis
    command: ["redis-server", "--requirepass", "893fe9af-60e2-4ab4-952d-4a767f6670c0"]
    # На хосте открыт 6380; внутри контейнера 6379
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "893fe9af-60e2-4ab4-952d-4a767f6670c0", "PING"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

volumes:
  db-data:
  redis-data:
